.jumbotron{
    margin-top: 2.5px;
    padding:20px 20px 20px 20px;
    background: #3d3c33 ;
    color:floralwhite;
}
.navbar-brand {
    padding-left: 10;
    margin-right:50px;
    align-items: center;
}
.brand-name{
    font-family: 'Mali', cursive;
    align-items: center;
    display: flex;
    font-size: 35px;
    padding: 0;
}
.blank{
    padding-right: 100px;
}
.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 40px;
}
.navbar{
    margin-top: 0.05%;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    height: inline;
}
.logo{
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 12px 6px -6px #999;
    padding: 10;
    border: 1px solid white;
    border-radius: 50px; 
}
.nav-item{
    padding:20px 20px 20px 20px;
}
.navbar-toggler{
    margin-right: -10%;
}
.btn{
    padding:10px;
}
.footer{
    background:#ffbb33;
    justify-content:center;
}
.copyright{
    padding: 5px;
    align-items:center;
}
.customers{
    padding: 10px;
}
.card{
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(36, 37, 23, 0.2);
    border-radius: 5px;
}
.jumbodiv{
    border-right: 1px solid #ffffff;
}
.quote{
    padding: 20px;
}